@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --purple-h: 275;
    --purple-s: 100%;
  }

  body {
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }

  *:focus-visible,
  :focus {
    @apply outline-2 outline-offset-2 outline-purple;
  }

  /* Justificar textos */
  p, div {
    @apply text-justify;
  }
}
