@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --purple-h: 275;
    --purple-s: 100%;
  }

  body {
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }

  *:focus-visible,
  :focus {
    @apply outline-2 outline-offset-2 outline-purple;
  }

  /* Justificar textos */
  p, div {
    @apply text-justify;
  }
    .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas en la primera fila */
    grid-auto-rows: auto;
    gap: 20px;
  }

  .grid-container > :nth-child(n + 4) {
    grid-column: span 2; /* Las tarjetas 4 y 5 ocuparán dos columnas */
    justify-self: center;
  }

  @media (max-width: 768px) {
    .grid-container {
      grid-template-columns: repeat(2, 1fr); /* Dos columnas en pantallas pequeñas */
    }

    .grid-container > :nth-child(n + 4) {
      grid-column: span 1;
      }
  }
}
